# Streamlit
streamlit

# Griglie editabili
st-aggrid

# Analisi dati
pandas
numpy

# Grafici
plotly

# Immagini
Pillow
# Logging e exception migliori
rich


# OPTIONAL (per future estensioni)
scipy


