# STREAMLIT BASE
streamlit

# AGGRID COMPONENTE PER STREAMLIT
streamlit-datagrid

# DATA & ANALISI
numpy
pandas

# FILE EXCEL / IMMAGINI
openpyxl
Pillow

# PLOTTING
plotly

# UTILS
rich

# OPTIONAL (per future estensioni)
scipy

